.notify { clear: both; }
aside li { display: block; }
#dw__search button[type="submit"]{ display: none; }
#qsearch__in { border-radius: 0px; width: 100%; margin-left: 8px; }
.page h1 { color: #d25349; }
.page li { display: block; }
.page img { margin: 8px; }
button img { margin: 0px !important; }
.toolbutton { margin: 0.15em; background-color: rgb(164, 227, 227); }
textarea { font-family: 'Courier New', monospace; }
#button, input, select, textarea { /*color: black !important;*/ }
aside { display: inline-block !important; min-width: 40%; }
.page .panel { display: inline-block !important; background-color: transparent; }
 
#writtensidebar a:link, #writtensidebar a:visited { 
  color: white;  
  background-image: none; padding: 0px;
}
#writtensidebar ul li { font-size: 14px; }
#writtensidebar h1 { /* .widget-title */
  /*font-size: 1.22222em;*/
  font-size: 17.111px;
  line-height: 1.30909em;
  /*color: #7cbbbb;*/
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin: 14px 0;
}