/* desbest edit */

@media screen and (max-width: 480px){
  fieldset, 
  #mediamanager__page, 
  #mediamanager__page .filelist{ 
    max-width: 100%; min-width: unset; 
  }
  #mediamanager__page .file, 
  #mediamanager__page .namespaces, 
  #mediamanager__page .panel { 
    width: 100%; clear: both; float: none;
  }
  li, dd { margin: 1.15em 0px !important; }
  #config__manager tr { }
  #config__manager td { display: block;  padding: 1.15em 0px; max-width: 100%;  }
  #config__manager fieldset {  margin: 1em 0px;  }
  #config__manager fieldset td.value { width: unset; }

    /* make <select> not exceed it's parent div's width */
    /* https://stackoverflow.com/q/44810056/337306 */
    div.input { display: flex; } select { width: 100%; flex-shrink: 1; }

  #config__manager td .input, 
  #config__manager fieldset td.value, 
  #config__manager td textarea.edit,
  #config__manager td input.edit { 
    max-width: 100%;
    width: unset; 
    display: inline-block;
  }

  /* hexa specific */
  
}


@media screen and (max-width: 48.81em) {
    #mediamanager__page {
      min-width: unset;
      width: 100%;
    }
    /*#mediamanager__page .file { width: 70%; clear: both; }*/
    #mediamanager__page .namespaces { min-width: unset; }
}

@media screen and (max-width: 48.81em) {
  .entry-format {
    width: 24px;
    height: 42px;
    right: 42.8px;
    left: auto;
    text-indent: 9.6px;
    top: 28px;
  }
  .entry-format:before {
    font-size: 30px;
    border-right-width: 12px;
    border-top-width: 21px;
    border-bottom-width: 21px;
    left: -12px;
  }
  .entry-format:after {
    right: -12px;
    border-left-width: 12px;
    border-top-width: 21px;
    border-bottom-width: 21px;
  }
}


@media screen and (max-width: 58em) {
  img.alignleft,
  .wp-caption.alignleft {
    margin-left: 0;
  }
}


@media screen and (max-width: 58em) {
  img.alignright,
  .wp-caption.alignright {
    margin-right: 0;
  }
}


@media screen and (max-width: 48.81em) {
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    margin: 3px 8px;
    padding: 14px;
    /*width: 100%;*/
    /*desbest edit */
  }
}


@media screen and (max-width: 48.81em) {
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"] {
    padding: 14px;
    width: 100%;
  }
}


@media screen and (max-width: 48.81em) {
  textarea {
    padding: 14px;
    width: 100%;
  }
}


@media screen and (max-width: 48.81em) {
  .site-header {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 28px;
    padding-right: 0;
  }
}


@media screen and (max-width: 48.81em) {
  .site-footer {
    padding-left: 28px;
  }
}


@media only screen and (max-width: 48.81em) {
  .site-branding {
    float: none;
    clear: both;
    max-width: 100%;
  }
}


@media only screen and (max-width: 48.81em) {
  .toggles {
    clear: both;
    float: none;
    margin-top: 0;
    margin-bottom: 28px;
    width: 100%;
  }
}


@media only screen and (max-width: 48.81em) {
  .toggles .toggle:nth-of-type(1) {
    top: auto;
    left: 14px;
    margin-top: 28px;
  }
}


@media only screen and (max-width: 48.81em) {
  .toggles .toggle:nth-of-type(2) {
    top: auto;
    left: 46px;
    margin-top: 28px;
  }
}


@media only screen and (max-width: 48.81em) {
  .toggles .toggle:nth-of-type(3) {
    top: auto;
    left: 78px;
    margin-top: 28px;
  }
}


@media only screen and (max-width: 48.81em) {
  .toggles .toggle:nth-of-type(4) {
    top: auto;
    left: 110px;
    margin-top: 28px;
  }
}


@media screen and (max-width: 58em) {
  .panel .widget-areas .widget-area:nth-child(1):nth-last-child(2), .panel .widget-areas .widget-area:nth-child(2):nth-last-child(1) {
    clear: both;
    float: none;
    margin: 0;
    width: 100%;
  }
}


@media screen and (max-width: 58em) {
  .panel .widget-areas .widget-area:nth-child(1):nth-last-child(3), .panel .widget-areas .widget-area:nth-child(2):nth-last-child(2), .panel .widget-areas .widget-area:nth-child(3):nth-last-child(1) {
    clear: both;
    float: none;
    margin: 0;
    width: 100%;
  }
}


@media screen and (max-width: 48.81em) {
  .panel .search-wrapper input[type="search"] {
    font-size: 0.77778em;
    line-height: 2.05714em;
    margin: 0;
    padding: 14px;
  }
}


@media screen and (max-width: 48.81em) {
  .panel .search-wrapper input[type="submit"] {
    clear: both;
    display: block;
    font-size: 0.77778em;
    line-height: 2.05714em;
    padding: 14px 7px;
    width: 100%;
  }
}


@media screen and (max-width: 48.81em) {
  .main-navigation li {
    padding: 0;
  }
}


@media screen and (max-width: 48.81em) {
  .main-navigation {
    padding-top: 0;
  }
  .main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .main-navigation ul ul {
    display: block;
    float: none;
    opacity: 1;
    position: relative;
    visibility: visible;
    top: auto;
  }
  .main-navigation ul ul:before {
    display: none;
  }
  .main-navigation ul ul li {
    background: rgba(255, 255, 255, 0);
    border-bottom: 0;
  }
  .main-navigation ul ul a {
    padding: 14px 14px 14px 28px;
    width: auto;
  }
  .main-navigation ul ul ul {
    left: auto;
    top: auto;
  }
  .main-navigation ul ul ul a {
    padding-left: 58px;
  }
  .main-navigation ul li:hover > ul,
  .main-navigation ul li.focus > ul {
    display: block;
  }
  .main-navigation li {
    display: block;
    float: none;
    position: relative;
  }
  .main-navigation a {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
    display: block;
    padding: 14px;
    text-decoration: none;
  }
  .main-navigation ul:first-child > li:first-child > a {
    border-top: 0;
  }
}



@media screen and (max-width: 48.81em) {
  .hentry {
    padding: 28px 28px 58px;
  }
}


@media screen and (max-width: 48.81em) {
  .hentry {
    padding-bottom: 58px;
  }
}


@media screen and (max-width: 58em) {
  .entry-thumbnail img {
    margin-left: 0;
    max-width: 100%;
  }
}


@media screen and (max-width: 48.81em) {
  .entry-title {
    font-size: 1.44444em;
    line-height: 2.21538em;
    line-height: 1.66154em;
    margin-top: 0;
    max-width: 80%;
  }
}


@media screen and (max-width: 48.81em) {
  .comments-link,
  .post-date,
  .sticky .post-date,
  .tags-links,
  .byline,
  .edit-link {
    clear: both;
    display: block;
    float: none;
    margin: 0;
    width: 100%;
  }
}


@media screen and (max-width: 48.81em) {
  .page-header {
    padding: 0 28px;
  }
}


@media only screen and (max-width: 48.81em) {
  .author-archives-img {
    float: left;
    position: relative;
    left: auto;
  }
}


@media only screen and (max-width: 48.81em) {
  .author-info {
    margin: 0 0 0 -86.4px;
  }
}


@media only screen and (max-width: 48.81em) {
  .author-archives-name,
  .author-archives-url,
  .author-archives-bio {
    margin: 0 0 0 86.4px;
  }
}


@media screen and (max-width: 48.81em) {
  .post-navigation,
  .paging-navigation {
    margin: 0;
    padding: 0 0 28px;
  }
}


@media only screen and (max-width: 48.81em) {
  .comments-area {
    padding: 28px;
  }
}


@media screen and (max-width: 48.81em) {
  .comments-area .children {
    padding-left: 7px;
  }
}


@media screen and (max-width: 48.81em) {
  .comment-author .avatar-wrapper img {
    max-width: 40px;
  }
}
@media screen and (max-width: 48.81em) {
  .comment-author .avatar-wrapper {
    border: 3px solid #7cbbbb;
    float: right;
    margin: 0;
    position: relative;
  }
}


@media screen and (max-width: 48.81em) {
  .comment .comment .avatar-wrapper {
    border-width: 3px;
    float: right;
    margin: 0;
    position: relative;
  }
}


@media screen and (max-width: 48.81em) {
  .widget_search input[type="submit"] {
    font-size: 1.22222em;
    line-height: 1.30909em;
    display: block;
  }
}


@media only screen and (max-width: 640px) {
  #infinite-footer .container {
    padding-left: 0;
  }
}


@media only screen and (max-width: 48.81em) {
  .infinite-loader {
    padding-left: 28px;
  }
}

@media only screen and (max-width: 48.81em) {
  #infinite-handle {
    border-left: 8px solid #d25349;
  }
}


@media only screen and (max-width: 48.81em) {
  #infinite-handle span {
    margin: 0 auto;
  }
}